@use "./variables" as *;

html {
  font-size: $fontSize;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: $lineHeight;
  letter-spacing: $letterSacing;
  background-color:white;
}

h2{
    font-size: $H2FontSize;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: $letterSacing;
}
h1{
    font-size: $H1FontSize;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: $letterSacing;
}
p{

}
.highlight{
    position: relative;
    color: $colorBlack;
    z-index: 2;
    background-image: url(../../images/highlight.svg);
    background-repeat: no-repeat;
    background-position:0 100%;
    //  &__tog{

    //}
    &__plan{
           background-size: 100%;
    }
    &__mang {
        background-position: 0 125%;
        background-size: 103%;
        height: 65px;
    };
    &__extension{
        color: $colorWhite;
        background-size: 100%;

    };

}
