@use "../base" as *;
@use "../components" as *;
@use "../base/variables" as *;

.customise-it{

    background-color:$primeryColorDark ;

    display: flex;
    padding: 140px 0;

    &__container{

        display: flex;
        align-items: center;
    }
    &__heading{
        max-width: 697px;
        padding-right: 8px;
        margin-right: 98px;
        color: $secondaryColorLight;
    }
    &__heading-text{}
    &__title{
        position:relative;
        z-index: 2;
        background-image:  url(../../images/highlight.svg);
        background-repeat: no-repeat;
        background-size: 48%;
        background-position:72% 70% ;}
    &__text{}
    &__btn{}
    &__img{
        width: 685px;
        height: 479px;
        background-color: $secondaryColorBlue;
    }
}