@use "../base" as *;
@use "../components" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;


.footer{
    width: 100%;
    color: $secondaryColorLight;
    background:$primeryColorDark;
    padding-top: 140px;
    &__container{
        max-width: 1440px;
        width: 100%;

        display:block;
    }
    &__content{
        display:flex;
        padding-bottom: 67.07px;
        justify-content: space-between;
       // flex-wrap: wrap;
    }
    //logo container
    &__logo{
        max-width: 240px;
        padding-right: 65.25px;
    }
    &__logo-link{
        list-style-type: none;

    }
    &__text{
        padding-top: 13px;
    }
    &__links{

    }
    &__try{


    }
    //nav
    &__container-nav{
        display:flex;
        width: 100%;
        max-width: 1440px;
       // gap: 100px;
        justify-content: space-between;
        padding-right: 100px;
    }
    &__nav{}
    &__list{
        list-style-type: none;
        width:100%;
        min-width: 150px;
        white-space: nowrap;

    }
    &__item{

    }
    &__link__main{
        font-size:$ParagraphP2BoldFonteSize;
        line-height:$ParagraphP2BoldLineHeight;
        font-weight:700;

     }
    &__link{
        text-decoration: none;
        color: $secondaryColorLight;
       // &:active{
       //     color: $secondaryColorYelow;
      //  }
    }
    //try
    &__try{
        width: 259px;
        margin-left: 5px;


    }
    &__title{
        font-size: $H5FontSize;
        font-weight: 700;
        line-height: $H5LineHeight;
        padding-bottom: 8px;
    }
    &__try-text{
        font-size: $ParagraphP3RegularFonteSize;
        line-height: $ParagraphP3RegularLineHeight;
        padding-bottom: 23px;
    }
    &__btn{

    }
    //line

    &__line{
        width: 100%;
        margin: 0 auto;
       max-width: 1544px;
        height: 1px;
       background: $secondaryColorLight;
    }
    //end
    &__social{
        padding-top: 33px;
        display: flex;
        padding-bottom:32px;
    }
    &__tems{

        &1{
            display: none;
        }
        &-list{
            width: 100%;
            max-width: 1440px;
            display: flex;
            list-style-type: none;
            align-items:center;

            justify-content: space-between;
            &-1{
                gap: 60px;
            }
        }
        &-english{

            padding-right: 30px;
            position: relative;
            display: flex;
            align-items:center;
            width: 100%;
            &:after {
                content: "";
                position: absolute;
                top: 50%;
                right: 0;
                transform: translate(0, -50%);
                width: 16px;
                height: 8px;
                background: url("../../images/arrow-down.svg") no-repeat;
            }
            &:before {
                content: "";
                display:flex;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                background: url("../../images/Group.svg") no-repeat;


            }
        }
        &-item{

        }
        &-text{}
        &-link{
            color: $secondaryColorLight;
            text-decoration: none;
            font-size: $ParagraphP3RegularFonteSize;
            line-height: $ParagraphP3RegularLineHeight;
            align-items:center;
        }
    }
    &__social{
        justify-content: space-between;
    }
    &__icon{

            position:relative;

            //margin-left: auto;

    }
    &__img__facebook{}
    &__img__Linked{
        padding: 0 32px;
    }
    &__img__twitter{

    }
}
@include media-down(xxl){
    .footer{
        width: 100%;
        &__container{
            width: 100%;
        }
        &__container-nav{
            padding-right: 0;
            justify-content: space-between;
        }

        &__list{
            width:100%;
        }
        &__try{
            width: 100%;
            max-width: 259px;
        }


    }
}
@include media-down(xl){
    .footer{
        width: 100%;
        &__container{
            width:100%;
        }
        &__content{

        }
        &__container-nav{
            justify-content: space-between;
           // flex-wrap: wrap;
        }
        &__nav__prising{
            width: 177px;
        }

    }
}
@include media-down(xl-s){
    .footer{
        width: 100%;
        &__container{
            width:100%;
        }
        &__content{

        }
        &__container-nav{
            gap: 35.75px;
            flex-wrap: wrap;
        }
        &__nav__prising{
            width: 177px;
        }

    }
}
@include media-down(lg){
    .footer{
        &__content{
            display: flex;
            flex-direction: column;
            width: 100%;
        }
        &__container-nav{
            padding-top: 100px;
            gap: 100px;
            flex-direction: column;
        }
        &__social{

        }
        &__tems{
           justify-content: space-between;
        }

        &__tems1{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
        }

        &__tems2{
        display: none;
        }

        &__line{
            order: 2;
        }
        &__tems{
            order: 1;
        }
        &__icon{
            order: 3;
            margin-right: auto;
            margin-left: 0;
        }
        &__tems-link{
            font-size: $ParagraphP3RegularFonteSize;
            line-height: $ParagraphP3RegularLineHeight;

        }
        &__tems-list{
            flex-wrap: wrap;
        }
    }
}

@include media-down(costom-sm){
    .footer{

        &__container{
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;
           // display: flex;
            flex-direction: column;
            text-align: center;
        }
        &__logo {
            padding: 0;
            margin: 0 auto;
        }
        &__nav{
           margin: 0 auto;
        }
        &__tems-list{
            display: flex;
            flex-direction: column;
           margin: 0 auto;
        }
        &__line{
            order: 2;
        }
        &__tems{
            order: 1;
        }
        &__icon{
            order: 3;
            margin-left: auto;
        }
        &__try{
            margin: 0 auto;
        }
        &__btn{
            margin: 0 auto;
        }
    }
}