@use "../base" as *;
@use "../components" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.header{
    height: 92px;
    background: $primeryColorDark;

    &__container{
        height: 92px;
    display: flex;
    align-items: center;
    }
    &__nav-manu{
        display: none;

        gap: 12px;
    }
    &__nav-line{
        background: $secondaryColorLight;
        width: 42px;
        height: 2px;
    }
    &__logo-link{
        list-style-type: none;
    }
    &__logo {
    width: 191px;
    height: auto;
    }
    &__list{
        list-style-type: none;
        display: flex;
        gap: 32px;
    }
    &__link{
        text-decoration: none;
        color: $secondaryColorLight;

    }
    &__item{
        padding-right: 30px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            right:0 ;
            transform: translate(0, -50%);
            width: 16px;
            height: 8px;
            background: url("../../images/arrow-down.svg" ) no-repeat ;

        }

    }

    &__try {
        padding: 18px 24px;
    }

}
@include media-down(xl){
    .header{
        &__list{

        }
        &__item{
            display: none;
        }
        &__nav-line{
            display: block;
            gap: 32px;
        }
        &__nav-manu{
            padding-left:20px ;
            display: grid;
            cursor: pointer;
            &:hover{

            }

        }

    }
}
@include media-down(md){
    .header{
        &__try,
        &__login{
            display: none;
        }

    }

}
@include media-down(sm){
    .header{
        height: 66px;
        &__container{
            height: auto;
        }
        &__logo{
            width: 134px;
            height: 24px;

        }
    }
}