@use "../base" as *;
@use "../components" as *;
@use "../base/variables" as *;

.header{
    height: 92px;
    background: $primeryColorDark;

    &__container{
        height: 92px;
    display: flex;
    align-items: center;
    }

    &__logo-link{
        list-style-type: none;
    }
    &__logo {
    width: 191px;
    height: auto;
    }
    &__list{
        list-style-type: none;
        display: flex;
        gap: 32px;
    }
    &__link{
        text-decoration: none;
        color: $secondaryColorLight;

    }
    &__item{
        padding-right: 30px;
        position: relative;
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            right:0 ;
            transform: translate(0, -50%);
            width: 16px;
            height: 8px;
            background: url("../../images/arrow-down.svg" ) no-repeat ;

        }

    }

    &__try {
        padding: 18px 24px;
    }

}