@use "../base" as *;
@use "../components" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.hero {
    position: relative;
    background-color: $primeryColorDark;
    background-image: url("../../images/pattern-1.svg");
    background-repeat: no-repeat;
    background-position: center 60%;
    padding: 140px 0;

    &__container {
        display: flex;
        align-items: center;
    }

    &__heading {
        width: 656px;
        margin-right: 10px;

    }

    &__heading-text {
        color: $secondaryColorLight;

    }

    &__title {

    }

    &__text {
        font-size: $ParagraphP2RegularFonteSize;
        line-height: $ParagraphP2RegularLineHeight;
    }

    &__heading-img {
        max-width: 824px;
        width: 100%;
        height: 549px;
        background: $secondaryColorBlue;

    }

}
@include media-down(xxl){
    .hero{
        &__heading-img {
            height: 457px;
            max-width: 685px;
            width: 100%;
        }
        &__heading{
            margin-right:0;
            width: 691px;
        }
    }
}
@include media-down(xl){
    .hero {

        &__heading-img {
            display: flex;
            max-height: 350.45px;
            max-width: 526px;

        }

        &__heading {
            padding-right: 15px;

        }

    }

}
@include media-down(lg){


}
@include media-down(md){
    .hero {

        &__container {
            margin: 0;
            display:table;


            align-items: center;
            justify-content: center;

        }

        &__heading{
            width: 100%;
            padding-right: 0;
        }

        &__title{
            font-size:$H3FontSize ;
            text-align: center;
        }
        &__text{

        }

        &__btn-free-try{
            margin: 0 auto;
        }

        &__heading-img{
            margin-top: 100px;
            max-width: 551px;
            height: fit-content( 361px);
            margin-left: auto;
            margin-right: auto;
        }
    }
}
@include media-down(sm) {
    .hero {
        padding: 80px 0;
        &__heading-img {
            height: 191px ;
        }

    }
}