@use "../base" as *;
@use "../components" as *;
@use "../base/variables" as *;
@use "../base/mixins" as *;

.prising{
    display: block;
    padding: 140px 0;


    &__container{

    }

    &__heading{

        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__heading-text{
        text-align: center;
    }
    //&__title{
    //    position:relative;
    //   z-index: 2;
    //    background-image:  url(../../images/highlight.svg);
    //    background-repeat: no-repeat;
    //    background-size: 32%;
    //    background-position:72% 70% ;
    //}
    &__text{
        max-width: 979px;
    }


    // prise list

    &__list{
        display: flex;

        align-items: center;
        justify-content: center;
        gap: 32px;

    }
    &__list-item{
        border-color: $secondaryColorYelow;
        border-style: solid;
        border-width: 1px;
        border-radius: 10px;
        padding:40px 44px 44px 44px;

    }
    &__text-blook{
        display: grid;
        gap: 25px;
    }
    &__text-free{
        font-size: $ParagraphP1SemiBoldFonteSize;
        line-height: $ParagraphP1SemiBoldLineHeight;
        font-weight: 600;
        letter-spacing: 0;
    }
    &__text-prise{
        font-size: $H4FontSize;
        line-height: $H4LineHeight;
        font-weight: 700;
        letter-spacing: -0.02;
    }
    &__text-text{
        font-size: $ParagraphP2MediumFonteSize;
        line-height: $ParagraphP2MediumLineHeight;
        font-weight: 500;
        letter-spacing: -0.02;
    }
    &__point{
        font-size: $ParagraphP3RegularFonteSize;
        line-height: $ParagraphP3RegularLineHeight;
        font-weight: 400;
        letter-spacing: -0.02;
    }
    &__btn{
        background-color: $secondaryColorLight;
        border-color: $secondaryColorYelow ;
        border-style: solid;
        border-width: 1px;
        border-radius: 8px;
        padding-inline: 40px;
    }
    &__point-blook{
        white-space: normal;
        overflow-wrap: break-word;
        width: 350px;
        display:grid;
        gap: 28px;
    }
    &__point{
        display: flex;
        align-items:center;
        width: 100%;
        &::before {
            content: "";
            display: block;
            width: 20px;
            height: 20px;
            margin-right: 15px;
            background: url("../../images/Icon1.svg") no-repeat;

        }
    }

    //acctive
        &__card-active {
            background-color: $primeryColorDark;
            transform: scale(1.05); // Злегка збільшена на десктопі
            border: none;
            padding: 50px 44px; // Трохи вища
            z-index: 2; // Щоб була поверх інших при збільшенні

            .prising__text-free,
            .prising__text-text,
            .prising__point {
                color: $colorWhite;
            }

            .prising__text-prise {
                color: $secondaryColorYelow;
            }

            .prising__btn {
                background-color: $primeryColorLight;
                border: none;
                color: $colorWhite;
            }

            .prising__point::before {
                background-image: url("../../images/IconYelov.svg");
            }
        }
}
.border{
    border: $secondaryColorYelow 4px 4px;
}

@include media-down(xxl) {
    .prising{
        &__container{
            box-sizing: border-box;
        }
        &__list-item{

        }


    }
}


@include media-down(md){
    .prising{
        &__list{
            position:absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%, 0);
            display: flex;
            width: auto;
            height: 752px;
        }
    }
}
@include media-down(md) { // Точка перелому для планшетів/мобільних
    .prising {
        padding: 60px 0;

        &__list {
            // Робимо стовпчик
            flex-direction: column;
            align-items: center;
            gap: 40px; // Більший відступ між картками по вертикалі
        }

        &__list-item {
            max-width: 100%; // Картка на всю ширину контейнера
            transform: none !important; // Прибираємо збільшення активної картки
        }

        // Активна картка залишається синьою, але стандартного розміру
        &__card-active {
            padding: 40px 44px;
        }
    }
}


